* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #9036;
  color: #947;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  width: 100%;
  margin-bottom: 20px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #947;
  color: #9036;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #666;
}
